@import "../../_scss/variables";

.footer {
  padding: 100px 20px;
  background-image: linear-gradient(#2d557d, #9610fb);
  color: $white;
  & h4 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  & p {
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
  }
  hr {
    margin-top: 10px;
    background: #efefef;
  }
}
.footer-logo {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}
