<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/cafe/logo-food.png" alt="footer-logo" class="footer-logo">
        <p>© All rights reserved.</p>
        <p>We are not a booking service and do not charge for services from users of your site ...</p>
        <p>We are not responsible for the content of external sites. Special offers do not include taxes and fees.</p>
      </div>
      <div class="col-md-4">
        <h4>We and you</h4>
        <p>About Us</p>
        <p>Help Center</p>
      </div>
      <div class="col-md-4">
        <h4>Cooperate with us</h4>
        <p>Manage the page of the object</p>
        <p>Restaurant advertising</p>
      </div>
    </div>
  </div>
</section>
